@import './base.css';
a{
  all: unset;
  cursor: grab;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 5px;
  background-color: white;
  border-radius: 20px;
  padding: 5%;
  color: black;
}

.container{
  width: 90%;
  display: flex;
  /* background-color: aqua; */
}
.holder{
  display: flex;
  justify-content: center;
  width: 100%;
}

.heading1{
  font-size: 4rem;
  font-weight: bold;
}
